<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image">
            <!-- The image half -->
        </div>
        <div class="col-md-6">
            <!--Form-->
            <div class="body">
                <div class="login">
                    <form [formGroup]="form">
                        <!--<img src="../../../assets/img/login.png" width=100%>
                        <h2></h2>-->
                        <h1>Entrada</h1>
                        <mat-form-field class="len" appearance="fill">
                            <mat-label>Correo</mat-label>
                            <input matInput id="email" name="email" class="form-control" formControlName="email"
                                autocomplete="off" required placeholder="Ejem. johndoe@mail.com">
                            <div *ngIf="getControl.email.touched && getControl.email.invalid" class="text-danger">
                                <div *ngIf="getControl.email.errors?.minlength">8 caracteres mínimo</div>
                            </div>
                        </mat-form-field>
                        <mat-form-field class="len" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" id="password" name="password" matInput formControlName="password"
                                autocomplete="off" placeholder="Ejem. abC.123*">
                            <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
                                <div *ngIf="getControl.password.errors?.minlength">8 caracteres mínimo</div>
                            </div>
                        </mat-form-field>
                        <button class="len hei" mat-raised-button color="primary" (click)="loginUser()"
                            [disabled]="form.invalid">Entrar</button>
                    </form>
                </div>
            </div>
            <!--End Form-->
        </div>
    </div>
</div>