.body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.len{
    width: 100%;
}

.hei{
    height: 50px
}

.bg-image {
    background-image: url('../../../assets/img/dave-hoefler-ZueEQBEPQ6M-unsplash.jpg');
    background-size: cover;
    background-position: center center;
}